.search-bar {
  
  padding: 0.75rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
}

.search-bar:focus {
  border-color: #facc15;
}