.search{
    display: flex;
    background-color: aliceblue;
    border: none;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top:3rem;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 10px;
    


}

.search input{
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    color: black;
    flex: 1;
}
.search input::placeholder {
  color: gray;        
  opacity: 1;
}

.icon {
  color: gray;         
  margin-left: 10px;
  margin-right: 10px;      
  cursor: pointer;        
  font-size: 25px;        
}