
.search-bar {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background: #fff;
  margin-left: 7rem;
  margin-right: 7rem;
}


.search-input {
  flex: 1; 
  border: none; 
  outline: none; 
  font-size: 1rem;
  padding: 0.5rem;
}


.search-input::placeholder {
  color: #999;
  font-style: italic;
}


.search-bar:focus-within {
  border-color: #facc15;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.3);
}


.search-icon {
  margin-right: 0.5rem;
  cursor: pointer;
  color: #666;
}
